body {
    background: url(https://github.com/maoyonglong/cnblogs/blob/master/bg.jpg?raw=true) fixed;
}

/* 解决margin融合问题 */
body:before {
    content: '';
    display: block;
    overflow: hidden;
}

#home {
    background: rgba(255,255,255,.8);
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px 4px #aaa;
}

/* 名字标题 */
.headermaintitle {
    text-shadow: 2px 2px 1px #ccc;
}

/* 导航 */
#navigator {
    border: 0;
}

/* 导航菜单 */
#navList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

/* 导航菜单项 */
.menu {
    margin-bottom: 20px;
    font-size: 20px;
}

/* 侧边栏项目 */
.newsItem, 
.catListEssay, 
.catListLink, 
.catListNoteBook, 
.catListTag, 
.catListPostCategory, 
.catListPostArchive, 
.catListImageCategory, 
.catListArticleArchive, 
.catListView, 
.catListFeedback, 
.mySearch, 
.catListComment, 
.catListBlogRank, 
.catList, 
.catListArticleCategory {
    background: transparent;
}

/* 搜索框 */
.input_my_zzk {
    background-color: #f8f8f8;
}

/* fork */
#fork {
    position: fixed;
    right: 0;
}
